*::-webkit-scrollbar {
	width: 5px;
}
*::-webkit-scrollbar-track {
	background: lightgrey; /* color of the tracking area */
}
*::-webkit-scrollbar-thumb {
	background-color: grey; /* color of the scroll thumb */
	border-radius: 10px; /* roundness of the scroll thumb */
	/*border: 3px solid orange; /* creates padding around scroll thumb */
}
.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap");

.dropdown:hover > .dropMenu {
	display: block;
	right: 0;
	left: auto;
	top: 100%;
}
